h2{
font-family: 'Days One', sans-serif;
color:limegreen;
font-size: 30px;
text-align: center;
margin-top: 30px;
}
.icon{
    font-size: 35px;
}
.gif{
    margin-left: 500px;
    width: 300px;
    
}
.gif1{
    margin-left: 20px;
    width: 300px;
}
.Brave{
    margin-left: 20px;
    width: 300px;
}